In [14]:
#Detect if modules are installed
import pandas as pd
import economics as econ

#Initially I excluded 2016 data, however, I now want to include the data.  
#Subsequently, I have two seperate file which I will combine here.

movie_mojo_data_11_15 = pd.read_csv('movie_data.csv')
movie_mojo_data_16 = pd.read_csv('movie_data_2016.csv')
movie_mojo_data = pd.concat([movie_mojo_data_11_15,movie_mojo_data_16],axis=0)
pd.c
numbers_budgets = pd.read_csv('numbers_movie_budgets.csv')

In [37]:
m1 = movie_mojo_data["movie title"].unique()
m2 = numbers_budgets.Movie.unique()
m2.sort()
m1.sort()

In [40]:
m1[:20]

array(['$upercapitalist', "'71", '1,000 Rupee Note',
       '1,000 Times Good Night', '10 Cloverfield Lane',
       '10 Days in a Madhouse', '10 Years', '10,000 Km',
       '100 Bloody Acres', '1001 Grams', '11 Flowers', '11-11-11',
       "12 O'Clock Boys", '12 Years a Slave', '13 Assassins',
       '13 Hours: The Secret Soldiers of Benghazi', '13 Sins', '17 Girls',
       '1911', '1915'], dtype=object)

In [41]:
m2[:20]

array(['#Horror', '10 Cloverfield Lane', '10 Days in a Madhouse',
       '10,000 B.C.', '102 Dalmatians', '10th & Wolf', '11:14',
       '12 Angry Men', '12 Rounds', '12 Years a Slave', '127 Hours',
       '13 Going On 30', '13 Hours: The Secret Soldiers of Benghazi',
       '1408', '15 Minutes', '16 Blocks', '16 to Life', '17 Again', '1776',
       '1941'], dtype=object)

In [29]:
len(set(m1) - set(m2))

2846

In [30]:
len(set(m2) - set(m1))

4156

In [20]:
movie_mojo_data.tail(20)
numbers_budgets.tail(10)

,Unnamed: 0,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
5219,4885,12/31/1931,Mata Hari,"558,000.00","$900,000","$900,000"
5220,4100,1/1/1930,Hell's Angels,"4,000,000.00",$0,$0
5221,4983,2/1/1929,The Broadway Melody,"379,000.00","$2,800,000","$4,358,000"
5222,4478,8/12/1927,Wings,"2,000,000.00",$0,$0
5223,4110,12/30/1925,Ben-Hur,"3,900,000.00","$9,000,000","$9,000,000"
5224,5063,1/1/1925,The Big Parade,"245,000.00","$11,000,000","$22,000,000"
5225,5138,9/17/1920,Over the Hill to the Poorhouse,"100,000.00","$3,000,000","$3,000,000"
5226,5071,12/24/1916,"20,000 Leagues Under the Sea","200,000.00","$8,000,000","$8,000,000"
5227,4982,9/5/1916,Intolerance,"385,907.00",$0,$0
5228,5132,2/8/1915,The Birth of a Nation,"110,000.00","$10,000,000","$11,000,000"